/* styles.css */

/* Reset básico para margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuração de fonte padrão */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Container principal */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Título */
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo do formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"],
input[type="number"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    max-width: 500px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    padding: 10px 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    background-color: #007bff; /* Cor de fundo no hover */
}

/* Botões de ação */
.delete-btn,
.conclude-btn,
.edit-btn {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: white;
}

.delete-btn {
    background-color: #dc3545;
    padding: 4px 13px;
}

.delete-btn:hover {
    background-color: #c82333;
}

.conclude-btn {
    background-color: #4edc35;
    padding: 5px 10px;
}

.conclude-btn:hover {
    background-color: #3e9c28;
}

.edit-btn {
    background-color: #359cdc;
    padding: 4px 18px;
}

.edit-btn:hover {
    background-color: #2a6abf;
}

.voltar-buscar {
    padding: 5px 30px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    margin-top: 5px;
    width: 50px;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    table {
        font-size: 14px;
    }

    input[type="text"],
    input[type="number"],
    select {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
